<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="shortcut icon" href="assets/uploads/2015/01/favicon.ico"/>
    <!--[if lt IE 9]>
    <script src="assets/js/0-tools/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>

  {{ content }}

  <script src="/assets/js/0-tools/min/jquery-2.1.4-min.js"></script>
  <script src="/assets/js/functions.js"></script>
  </body>
</html>
