//- Settings.scss
//- Contains various css frameworks and tools to be imported into the index.scss file at your lesiure.
//- To use the file paths correctly when importing, see the following example:
//- @import url($bourbon_path);

$bower_path: "../bower_components/";

//- Normalize.css
//- A modern, HTML5-ready alternative to CSS resets
//- Visit: https://cdnjs.com/libraries/normalize
//- For an updated CDN link
$normalize_css: "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css";

//- Skeleton
//- Skeleton is a small collection of CSS files that can help you rapidly develop sites that look
//- beautiful at any size, be it a 17 inch laptop screen or an iPhone.
//- Visit: https://cdnjs.com/libraries/skeleton
//- For an updated CDN link
$skeleton: "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css";

//- Milligram
//- A minimalist CSS framework.
//- Visit: https://cdnjs.com/libraries/milligram
//- For an updated CDN link
$milligram: "https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css";

//- Bulma
//- Modern CSS framework based on Flexbox
//- Visit: https://cdnjs.com/libraries/bulma
//- For an updated CDN link
$bulma: "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.16/css/bulma.min.css";

//- Toast.css
//- An insane grid. You’ve been warned.
//- Visit: https://cdnjs.com/libraries/toast-css
//- For an updated CDN link
$toast_css: "https://cdnjs.cloudflare.com/ajax/libs/toast-css/1.1.0/grid.min.css";

//- Unsemantic
//- Unsemantic is a fluid grid system that is the successor to the
//- 960 Grid System. It works in a similar way, but instead of
//- being a set number of columns, it's entirely based on percentages.
//- Visit: https://cdnjs.com/libraries/unsemantic
//- For an updated CDN link
$unsemantic: "https://cdnjs.cloudflare.com/ajax/libs/unsemantic/1.0.3/unsemantic-grid-responsive.min.css";

//- 960gs
//- The 960 Grid System is an effort to streamline web development
//- workflow by providing commonly used dimensions, based on a
//- width of 960 pixels.
//- Visit: https://cdnjs.com/libraries/960gs
//- For an updated CDN link
$_960gs: "https://cdnjs.cloudflare.com/ajax/libs/960gs/0/960.min.css";

//- Twitter-Bootstrap
//- The most popular front-end framework for developing
//- responsive, mobile first projects on the web.
//- Visit: https://cdnjs.com/libraries/twitter-bootstrap
//- For an updated CDN link
$twitter_bootstrap: "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js";

//- Materialize
//- Materialize, a CSS Framework based on Material Design
//- Visit: https://cdnjs.com/libraries/materialize
//- For an updated CDN link
$materialize: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css";

//- Font-Awesome
//- The iconic font and CSS framework
//- Visit: https://cdnjs.com/libraries/font-awesome
//- For an updated CDN link
$font_awesome: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css";

//- Animate.css
//- Plug and play, app-like animations for your websites and web apps.
//- Visit: https://cdnjs.com/libraries/animate.css
//- For an updated CDN link
$animate_css: "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css";

//- Colors
//- Better colors for the web. A collection of skin classes
//- for faster prototyping and nicer looking sites.
//- Visit: https://cdnjs.com/libraries/colors
//- For an updated CDN link
$colors: "https://cdnjs.cloudflare.com/ajax/libs/colors/1.0/colors.min.css";

//- Hint.css
//- A tooltip library in CSS for your lovely websites.
//- Visit: https://cdnjs.com/libraries/hint.css
//- For an updated CDN link
$hint: "https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.2.0/hint.min.css";

//- Hover.css
//- A collection of CSS3 powered hover effects to be applied to
//- call to actions, buttons, logos, featured images and so on.
//- Visit: https://cdnjs.com/libraries/hover.css
//- For an updated CDN link
$hover: "https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css";
