//- Settings.jade
//- Contains various variables, mixins, and other things to make the life of a front-end developer easier.
//- Visit: https://cdnjs.com/
//- To find any other libraries you'd like to include in your project
//- To use one of the variables, type: 
//- #{name_of_var_here}

//- Web Font Loader
//- Web Font Loader gives you added control 
//- when using linked fonts via @font-face.
//- Visit: https://cdnjs.com/libraries/webfont
//- For an updated CDN link
- var webfont = "https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.22/webfontloader.js"

//- Retina.js
//- Retina.js is an open source script that makes it easy to serve 
//- high-resolution images to devices with retina displays.
//- Visit: https://cdnjs.com/libraries/retina.js
//- For an updated CDN link
- var retina = "https://cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js"

//- WOW
//- Reveal CSS animation as you scroll down a page.
//- Visit: https://cdnjs.com/libraries/wow
//- For an updated CDN link
- var wow = "https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"

//- jQuery.js
//- JavaScript library for DOM operations
//- Visit: https://code.jquery.com/
//- For an updated CDN link
- var jquery = "https://code.jquery.com/jquery-2.2.1.min.js"
