html
  height: 100%
  width: 100%
  text-align: center

  &:before
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle
    margin-right: -0.25rem

  body
    display: inline-block
    vertical-align: middle
    max-width: 38rem

  .wrapper
    width: 38rem
    margin: 0 auto

  .island
    padding: 1.5rem
    padding-top: 0
