html
  width: 100%
  overflow: hidden-x
  text-align: center

@media (min-width: 650px)
  html
    height: 100%

  html:before
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle
    margin-right: -0.25em

  body
    display: inline-block
    vertical-align: middle
    max-width: 38rem

.wrapper
  width: 38rem
  margin: 0 auto

.island
  padding: 1.5rem
  width: 100%
