extends ./layouts/_layout.jade

block mixins
//- Add Content Here

block variables
	- var title = "Starter Kit";
	- var description = "A Dead Simple, Responsive Boilerplate for Mobile-Friendly Development";
	- var author = "Nicholas Adamou";
	- var tags = "starter-kit, nicholas-adamou, sass, jade, gulp, scss, responsive, boilerplate";
	- var pageName = "index";
	
block content
//- Add Content Here
