doctype html
html 
	head 
		include ./includes/head.jade	
		body 
			//- Delete the contents of this file when ready to begin.
			.container
					.row
						div(style="width: 50%; margin: 0 auto;  text-align: center; transform: translate(50%, 35%);").one-half.column
							h4 Getting Started
							p(style="text-align: left;") This 
								em 'index.html'  
								|page is a placeholder with the 
								em 'CSS' 
								|, and the
								em 'favicon' 
								|. 
							h5 -Notes-
							p(style="text-align: left;") ~To simplify your code, add 
								em 'includes'  
								|to the 
								em 'index.jade'  
								|file. 
							p(style="text-align: left;") ~If you want to make changes to the head section, open the
								em 'head.jade' 
								|file inside the directory,
								em 'includes'  
								|and make changes to that.
							p(style="text-align: left;") ~When uploading to a server, copy/paste the contents of the folder,
								em 'build' 
								|into the 
								em 'public_html' 
								|directory of the server.  
							hr
							footer 
								p(style="font-size: 75%;") &copy; 
									a(href="http://www.nicholasadamou.me" target="_blank" style="color: rgba(green, 0.7);") Nicholas Adamou
									|, 2016, All Rights Reserved.
			
				script(src="/vendors/jquery/dist/jquery.min.js")
				script(src="/assets/js/functions.js")
