doctype html
html 
	head 
		title Starter Kit
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet" href="assets/css/index.css")
		link(rel="shortcut icon" href="favicon.ico")
			
		body 
			
				header.island
					.wrapper
						h1 Starter Kits
						span.subhead Ground Zero for your Next Web Project
					
				main.island
					.wrapper
						a(href="../../../index.html").link
							button.btn
								i.fa.fa-arrow-left
								|  Back
								
						a(href="https://github.com/NickAdamou/StarterKits/archive/master.zip").link
							button.btn
								i.fa.fa-download
								|  Download
						hr 
						p
							a(href="https://github.com/NickAdamou/StarterKits/archive/master.zip") Download StarterKits
							|  or 
							a(href="https://github.com/NickAdamou/StarterKits" target="_blank") View on GitHub
						small A thing made by, 
							a(href="http://nicholasadamou.me/" target="_blank") Nicholas Adamou
		
			script(src="assets/js/0-tools/min/jquery-2.1.4-min.js")
			script(src="assets/js/functions.js")
			
			
