extends ./layouts/_layout.pug

block mixins
	
block variables
	- var title = ''
	- var description = ''
	- var author = ''
	- var tags = ''
	- var pageName = 'index'
	- var trackingCode = "UA-000000000-0"

block content