doctype html
html 
	head 
		title Starter Kit
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet" href="/assets/css/index.css")
		link(rel="shortcut icon" href="favicon.ico")
			
		body 
			
			//Getting Started!
		
			script(src="/assets/js/0-tools/jquery-2.1.4.js")
			script(src="/assets/js/functions.js")
