block mixins

//- Global Variables
- var vendors = 'vendors/'
- var assets = 'assets/'
- var css = assets + 'css/'
- var js = assets + 'js/'
- var docs = assets + 'docs/'
- var data = assets + 'data/'
- var media = assets + 'media/'
- var fonts = assets + 'fonts/'
- var images = assets + 'images/'
- var favicons = images + 'favicons/'

block variables

doctype html
html(lang="en")
  head
    include ../includes/partials/head
  body
    block content
    include ../includes/partials/scripts

