//- Basic Page Needs
title Starter Kit
meta(charset="utf-8")
meta(name="description" content="A Dead Simple, Responsive Boilerplate for Mobile-Friendly Development")
meta(name="author" content="Nicholas Adamou")
//- Mobile Specific Meta
meta(name="viewport" content="width=device-width")
//- CSS
link(rel="stylesheet" href="/assets/css/index.css")
//- Font
link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600")
//- Favicon
link(rel="shortcut icon" href="favicon.ico")
