doctype html
html 
	head 
		title Starter Kit
		link(rel="stylesheet" href="assets/css/index.css")
		link(rel="shortcut icon" href="favicon.ico")
		
		meta(charset="utf-8")
		meta(meta name="viewport" content="width=device-width")
			
		body 
			
			.site__wrapper
				header.island.site__header
					.wrapper
						h1.mega.site__title Starter Kits
						span.beta.subhead Ground Zero for your Next Web Project
					
				main(role="content").island.site__content
					.wrapper
					
						form					
							a(href="../../../projects.html").link.btn
								i.fa.fa-arrow-left
								|  Back
									
							a(href="http://github.com/NicholasAdamou/StarterKits/archive/master.zip").link.btn
								i.fa.fa-download
								|  Download
									
						hr 
						
						p.meta
							a(href="http://github.com/Nicholasdamou/StarterKits/archive/master.zip") Download StarterKits
							|  or 
							a(href="http://github.com/NicholasAdamou/StarterKits" target="_blank") View on GitHub
							
						p
							small A thing made by, 
								a(href="http://nicholasadamou.me/" target="_blank") Nicholas Adamou
		
			script(src="assets/js/0-tools/min/jquery-2.1.4-min.js")
			script(src="assets/js/functions.js")
			
			
