header
	padding: 24px

h1
	font-size: 5rem
	font-weight: 300
	margin: 0
	margin-bottom: 24px
	color: $header-color
	background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	-webkit-animation: hue 60s infinite linear

.subhead
	font-size: 1.5rem
	font-weight: 400
	color: $subheading-color
	line-height: 1
	margin-bottom: .75rem
