doctype html
html 
	head 
		//Basic Page Needs
		title #Title Here
		meta(charset="utf-8")
		meta(name="description" content="")
		meta(name="author" content="")
		
		//Mobile Specific Meta
		meta(name="viewport" content="width=device-width")
		
		//Font
		link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")
		
		//CSS
		link(rel="stylesheet" href="/assets/css/index.css")
		
		//Favicon
		link(rel="shortcut icon" href="favicon.ico")
			
		body 
			//Primary Page Layout
			.container
				.row
					div(style="margin-top: 25%;").one-half.column
						h4 Basic Page
						p This index.html page is a placeholder with the CSS, font, and favicon. It's just waiting for you to add some content! If you need some help, hit up the 
							a(href="https://github.com/NicholasAdamou/StarterKits/tree/master/Gulp/Starter%20Kit") Starter Kit documentation
							|.
		
			script(src="/vendors/jquery/dist/jquery.min.js")
			script(src="/assets/js/functions.js")
