- var pageName = "";
- var assetsLocation = "assets";

block variables

doctype html
html(lang='en' class='#{pageName}')
	head
		include ../../settings/_settings.jade
		include ../includes/partials/_head.jade
		body
			block content
			include ../includes/partials/_scripts.jade
		
