block mixins

block variables

doctype html
html(lang='en' class='#{pageName}')
	head
		include ../includes/partials/_head.pug
		body
			block content
			include ../includes/partials/_scripts.pug
		
